<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TimeSeriesFilter</title>
</head>
<body>
<label for="filterInput">Input</label>
<input id="filterInput" type="text" value="<%= input %>">
<button id="filter">Convert</button>
<br><br>
<div id="filterOutput">
    <h4>Parsed Filters:</h4>
    <%= convertedString %>
</div>
<br>
<div id="querySQL">
    <h4>Query SQL</h4>
    <%= querySQL %>
</div>
<br>
<div id="querySQL">
    <h4>Query Mongo</h4>
    <%= queryMongo %>
</div>
<br>
<div id="chartRanges">
    <h4>Highcharts Ranges</h4>
    <%= chartRanges %>
</div>

<script>
    const $ = (_id) => document.getElementById(_id)
    $("filter").onclick = () => {
        let input = $("filterInput").value.trim()
        let url = new URL(window.location.href)
        url.searchParams.set("input", input)
        window.location.href = url.href
    }
</script>

</body>
</html>